extends ../layout

block content

    a(href = `/students/edit/${student.id}`) Edit Student
    a(href = `/students/delete/${student.id}`) Delete Student
    div
        h3 Name: #{student.first_name} #{student.last_name}
        p Grade Level: #{student.grade_level}
    h4 Student Courses
    form(action = `/students/${student.id}/enroll/` method = 'post')
        select(name = 'course' id = 'course' autocomplete = off)
            each course in availableCourses
                option(value = course.id) #{course.name}
        button.button(type = 'submit') Enroll
    table
        thead
            tr
                th Course Title
                th Instructor
                th Department
                th
        tbody
            each course in student.courses
                tr
                    td= course.name
                    td= course.instructor_name
                    td= course.department
                    td
                        a(href=`/courses/profile/${course.id}`) View Course