extends ../layout

block content
    h3= course.name
    a(href = `/courses/edit/${course.id}`) Edit Course
    a(href = `/courses/delete/${course.id}`) Delete Course
    div
        p Instructor: #{course.instructor_name}
        p Department: #{course.department}
        p= course.description
    div.students
        h4 Enrolled Students
        table
            thead
                tr
                    th First
                    th Last
                    th Grade
                    th
            tbody
                each student in course.students
                    tr
                        td= student.first_name
                        td= student.last_name
                        td= student.grade_level
                        td
                            a(href=`/students/profile/${student.id}`) View Student